/*.header{
    background-image:url('../images/baniere-singapour.jpg');
}*/



.header{
  padding-top: 160px;
  background-image: url('../images/baniere-singapour.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 400px;
  margin-bottom: 0;
}

.head{
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
  margin:0;
}
.title{
  text-shadow: 1px 1px #666;
  text-align: center;
}

h2{
  font-size: 35px;
}
h3{
  font-size: 30px;
}
h4{
  font-size: 25px;
}
.subtitle{
    text-align: center;
    text-shadow: 1px 1px #666;
}

.bleu{
    background-color: #3498db;
}

.btn.bleu:hover{
    background-color: #2980b9;
}

.text-bleu{
    color: #3498db;
}


/*  LOISIRS  */
figcaption{
  margin-top: 10px;
  font-style: italic;
  text-align: center;
}

.divider-top{
  margin-bottom: 10px;
}
.divider-bottom{
  margin-top: 10px;
}

.alinea{
  text-indent: 15px;
}

.desc{
  text-indent: 10px;
  font-style: italic;
}

.marg-right{
  margin-right: 10px;
}

h5{
  text-indent: 10px;
}

.text-center{
  text-align: center;
}
footer{
  background-color: #3498db !important;
}
